body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Spoof Trial;
  src: url("./assets/fonts/SpoofTrial/SpoofTrial-Regular.otf") format('opentype');
}

@font-face {
  font-family: Faible;
  src: url("./assets/fonts/Faible/Faible-Regular.otf") format('opentype');
}

@font-face {
  font-family: Cera Pro;
  src: url("./assets/fonts/CeraProSv/Cera\ Pro\ Medium.otf") format('opentype');
}

